<h3>We found you on the electoral roll at the following address</h3>

<%= @result.enrolled_address %>

If you have moved from this address you should <a href="http://www.aec.gov.au/enrol/change-address.htm">Update the roll</a> now
