<h2>PRIVACY POLICY</h2>

<h3>What is this policy about?</h3>

<p>This policy explains how we collect, use and disclose the personal information you
provide to us when you use the website <%= @website_address %></p>

<p>We reserve the right to change this Privacy Policy at any time. If we do, we will post
an updated version on our website. Last updated: 24/01/2013.</p>

<h3>What information do you collect about me?</h3>

<p>We collect the personal information that you have provided to us about yourself. This
could include but is not limited to your name, email address, physical address and
mobile and other phone numbers.</p>

<h3>What do you do with my personal information?</h3>

<p>We collect information about you so that we can:
<ul>
<li>    
check that your request to change your enrolment details has been received by
the Australian Electoral Commission;
</li>
<li>send you information relating to voting;
</li>
<li>
send you information that we think may be of interest to you, including but
not limited to:
<br />
information about other campaigns and causes (including campaigns created
by our related bodies corporate and/or trusted partners);
</li>
<li>
maintain our relationship with you (for example, by responding to your
questions); and
</li>
<li>
create and maintain records for our internal accounting and administration
purposes.
</li>
</ul>
<p>If you do not provide us with your personal information, we may not be able to
provide you with these services.</p>
<h3>Will you give my personal information to anyone else?</h3>
<p>
Except as outlined in this Privacy Policy or as required by law, we do not give your
personal information to any third parties unless you have given us your consent.
</p>
<p>
We share your personal information with third parties we engage to help us run
aspects of our organisation efficiently. This includes volunteers, suppliers and service
providers who assist us with managing our website and IT infrastructure. All third
parties who have access to your personal information are bound by confidentiality
agreements.
</p>
<h3>Will you use my information for any other purpose?</h3>

<p>Occasionally, we may use your personal information for other purposes (and/or share
your information with a third party) because we believe it is necessary to do so, in
these circumstances:
<ul>
<li>  
to protect the rights, property or personal safety of our users, employees,
volunteers or any member of the public;
</li>
<li>
to prevent or help detect fraud or serious credit infringements;
</li>
<li>
to protect our interests (e.g. disclosing information to a court); or
</li>
<li>
if the assets and operations of our business are being transferred to another
party as a going concern.
</li>
</ul>

<h3>How do I unsubscribe from receiving emails from you?</h3>
<p>
You can unsubscribe from receiving emails from us at any time by clicking on the
“unsubscribe” link at the bottom of our emails.
</p>
<h3>How can I change or delete the information you keep about me?</h3>
<p><a href='mailto:<%=@contact_email%>'>Contact us</a> if you would like us to update or delete the information we keep about
you. We reserve the right to keep a copy of your personal information to comply with
our recordkeeping obligations at law.
</p>

<h3>Is my information secure?</h3>
<p>While we take reasonable steps to keep your personal information secure, we can't
give you an absolute guarantee that your information is always secure as no data sent
over the internet is 100% secure. We will not be responsible for any liability, loss or
damage arising from unauthorised access to your information.</p>

<h3>Questions?</h3>
<p>If you have any questions about our Privacy Policy, please <a href='mailto:<%=@contact_email%>'>contact us</a></p>

